@charset "UTF-8";

/*Images*/
.book {
  margin: 5%;
  height: 80%;
  width: 80%;
  max-width: 500px;
  max-height: 500px;
  display: block;
}

.top-secret {
  margin: 5%;
  height: 80%;
  width: 80%;
  max-width: 500px;
  max-height: 500px;
  display: block;
}

.sub_down_buttons {
	font-size: 15px;
	margin-top: 3px;
}
